
@{
    ViewBag.Title = "Vista2";
}

<h2>Vista2</h2>

<h1>Datos en ViewBag</h1>
    <h3>@ViewBag.saludo</h3>
    <h3>@ViewData["Nombre"]</h3>
    <h3>@ViewBag.nombreNuevo</h3>

@Html.ActionLink("Ruta Nueva", "Index", "Home", null, new {miAtributo="valor1", @class="btn btn-danger"})